*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*apk
*ap_

*.dex
*.class

bin/
gen/
out/

build/
.gradle/
local.properties
proguard/
*.log
.navigation/
captures/

*.jks
.gradle.
/app/build/

movie_api_key.xml
youtube_api_key.xml



